{% extends "base.html" %}
{% block about %}
<main class="page-content">
    <section class="section-50 breadcrumbs-wrap">
      <div class="shell text-center">
        <h2>About Us</h2>
        <ul class="breadcrumbs-custom">
          <li><a href="index.html">Home</a><span>/</span></li>
          <li><a href="#">Pages</a><span>/</span></li>
          <li class="active">About Us</li>
        </ul>
      </div>
    </section>
    <section class="section-50 section-lg-115">
      <div class="shell">
        <div class="range range-md-middle range-lg-top">
          <div class="cell-md-6">
            <div class="heading-wrap text-center text-md-left">
              <h3 class="heading-3 text-center">Our Story</h3>
            </div>
            <p class="inset-lg-right-30"> Since the late 2000s Organic Farm has been uncompromising in the
              commitment to provide foods that change the lives of our customers in all ways! In a world filled with millions of products that are unhealthy for human beings and destructive to the planet, and whose production is purely for profit, we are working hard so that is always an oasis of all that is good. </p>
            <h6>Our Goals:</h6>
            <ul class="list list-unordered">
              <li>Improve the health of humans and the environment;</li>
              <li>Supply the highest quality organic produce at affordable prices;</li>
              <li>Provide our customers witch the finest service and efficient delivery.</li>
            </ul>
            <a href="shop-list-view.html" class="btn btn-primary offset-top-30">shop now</a> </div>
          <div class="cell-md-6 visible-md visible-lg visix text-center">
            <div class="img-bordered"><img src="../../static/img/about-us-01-542x471.jpg" width="542" height="471" alt="" class="img-responsive"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-whisper">
      <div class="shell section-50 section-lg-0">
        <div class="range range-xs-center">
          <div class="cell-lg-7 cell-md-bottom">
            <div class="hidden visible-lg"><img src="../../static/img/home-04-670x785.jpg" alt="" width="670" height="785" class="img-responsive"/> </div>
          </div>
          <div class="cell-lg-5 cell-md-middle cell-xs-10 cell-sm-8 cell-md-12">
            <h3 class="heading-3 text-center">Why Choose Us</h3>
            <div class="range range-lg offset-lg-top-70">
              <div class="cell-lg-12 cell-md-4">
                <div class="center">
                  <div class="unit unit-xs-horizontal icon-box text-xs-left unit-md unit-lg unit-lg-horizontal text-md-center text-lg-left">
                    <div class="unit-left"><span class="icon icon-xl icon-success fl-bigmug-line-circular220"></span></div>
                    <div class="unit-body">
                      <h6><a href="single-services.html" class="text-content">100% Fresh Organic Foods</a></h6>
                      <p class="text-light">This is our motto and we are experts in delivering the best 100% organic foods on the market. We work with more than 60 farms all over the country.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-lg-12 offset-top-45 cell-md-4 offset-md-top-0 offset-lg-top-45">
                <div class="center">
                  <div class="unit unit-xs-horizontal icon-box text-xs-left unit-md unit-lg unit-lg-horizontal text-md-center text-lg-left">
                    <div class="unit-left"><span class="icon icon-xl icon-success fl-outicons-truck72"></span></div>
                    <div class="unit-body">
                      <h6><a href="single-services.html" class="text-content">Fast Free Delivery</a></h6>
                      <p class="text-light">We have developed an effective and fast delivery network which brings the products to your home or office in 48 hours.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-lg-12 offset-top-45 cell-md-4 offset-md-top-0 offset-lg-top-45">
                <div class="center">
                  <div class="unit unit-xs-horizontal icon-box text-xs-left unit-md unit-lg unit-lg-horizontal text-md-center text-lg-left">
                    <div class="unit-left"><span class="icon icon-xl icon-success fl-bigmug-line-trophy55"></span></div>
                    <div class="unit-body">
                      <h6><a href="single-services.html" class="text-content">Rich Experience</a></h6>
                      <p class="text-light">We are working with organic products for 14 years and to be honest this is the best job ever – to see the people’s smiles when they taste our fresh food!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-50 section-lg-115">
      <h3 class="heading-3 text-center">Our Chefs</h3>
      <div class="shell">
        <div class="range">
          <div class="cell-sm-6 cell-lg-3">
            <div class="unit unit-lg figure-custom unit-spacing-xs text-md-center text-lg-left">
              <div class="unit-left"><img src="../../static/img/about-us-02-270x270.jpg" alt="" width="270" height="270" class="img-responsive"/> </div>
              <div class="unit-body">
                <h6><a href="team-members.html" class="text-success">Mark Hoffman</a></h6>
                <p class="text-light offset-top-10">Farm Manager</p>
                <p class="offset-top-15 inset-lg-right-10">Mark’s amazing knowledge of organic techniques and growing plants will bring you a variety of products this summer!</p>
              </div>
            </div>
          </div>
          <div class="cell-sm-6 cell-lg-3">
            <div class="unit unit-lg figure-custom unit-spacing-xs text-md-center text-lg-left">
              <div class="unit-left"><img src="../../static/img/about-us-03-270x270.jpg" alt="" width="270" height="270" class="img-responsive"/> </div>
              <div class="unit-body">
                <h6><a href="team-members.html" class="text-success">Leslie Peterson</a></h6>
                <p class="text-light offset-top-10">Quality Control</p>
                <p class="offset-top-15 inset-lg-right-10">Leslie is products quality control manager who strives to produce products with minimal impact to the environment.</p>
              </div>
            </div>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-sm-top-45 offset-lg-top-0">
            <div class="unit unit-lg figure-custom unit-spacing-xs text-md-center text-lg-left">
              <div class="unit-left"><img src="../../static/img/about-us-04-270x270.jpg" alt="" width="270" height="270" class="img-responsive"/> </div>
              <div class="unit-body">
                <h6><a href="team-members.html" class="text-success">John Doe</a></h6>
                <p class="text-light offset-top-10">General Farmer</p>
                <p class="offset-top-15 inset-lg-right-10">John keeps on business of the 3rd generation, his dad taught him all of the basics of farming industry.</p>
              </div>
            </div>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-sm-top-45 offset-lg-top-0">
            <div class="unit unit-lg figure-custom unit-spacing-xs text-md-center text-lg-left">
              <div class="unit-left"><img src="../../static/img/about-us-05-270x270.jpg" alt="" width="270" height="270" class="img-responsive"/> </div>
              <div class="unit-body">
                <h6><a href="team-members.html" class="text-success">Kimberly Barker</a></h6>
                <p class="text-light offset-top-10">Consultant</p>
                <p class="offset-top-15 inset-lg-right-10">She is in the unique position of holding two full-time careers that both are all about promoting health and nutrition.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-44 bg-primary">
      <div class="shell">
        <div class="range text-center range-md-middle range-xs-center">
          <div class="cell-lg-2 cell-sm-4 cell-xs-6"><a href="#" class="banner"><img src="../../static/img/home-10-129x110.png" alt="" width="129" height="110" class="img-responsive"/></a></div>
          <div class="cell-lg-2 cell-sm-4 cell-xs-6"><a href="#" class="banner"><img src="../../static/img/home-11-120x114.png" alt="" width="120" height="114" class="img-responsive"/></a></div>
          <div class="cell-lg-2 cell-sm-4 cell-xs-6 offset-top-30 offset-sm-top-0"><a href="#" class="banner"><img src="../../static/img/home-12-105x105.png" alt="" width="105" height="105" class="img-responsive"/></a></div>
          <div class="cell-lg-2 cell-sm-4 cell-xs-6 offset-top-30 offset-lg-top-0"><a href="#" class="banner"><img src="../../static/img/home-13-126x113.png" alt="" width="126" height="113" class="img-responsive"/></a></div>
          <div class="cell-lg-2 cell-sm-4 cell-xs-6 offset-top-30 offset-lg-top-0"><a href="#" class="banner"><img src="../../static/img/home-14-126x96.png" alt="" width="126" height="96" class="img-responsive"/></a></div>
          <div class="cell-lg-2 cell-sm-4 cell-xs-6 offset-top-30 offset-lg-top-0"><a href="#" class="banner"><img src="../../static/img/home-14-108x106.png" alt="" width="108" height="106" class="img-responsive"/></a></div>
        </div>
      </div>
    </section>
    <section>
      <div class="rd-google-map">
        <div class="overlay rd-google-map__model" onClick="style.pointerEvents='none'"></div>
        <iframe  class="rd-google-map__model" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8404068987!2d-74.2581973675357!3d40.70583158554698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2zVGjDoG5oIHBo4buRIE5ldyBZb3JrLCBUaeG7g3UgYmFuZyBOZXcgWW9yaw!5e0!3m2!1svi!2s!4v1480613299202" allowfullscreen></iframe>
      </div>
    </section>
  </main>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}