
            <section id="about">
                <div class="container text-center">
                    <header>
                        <h2>About MohanjiCaters</h2>
                        <h3>Check our story</h3>
                    </header>
                    <p class="lead">Mohanjicaters have been creating misti magic since 1978. This business was started by Mohanji. He came to Ahemdabad from jodhpur took up a job in a catering in ahemdabad as a karigar (worker). With the passage of time the Mohanjicaters has become a throbbing venture of five generations.</p>
                </div>
            </section>