{% load static %}
<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/common.css.css">
        <link rel="stylesheet" href="../static/css/food/css.css">
        <link rel="stylesheet" href="../static/css/template/css.css">
        <link rel="stylesheet" href="../static/css/food/style.css">
        <link rel="stylesheet" href="../static/css/template/style.css">
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/common.js" style=""></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/stats.js"></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/map.js"></script>
<style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }</style>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/onion.js"></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/controls.js"></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/infowindow.js"></script>
<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/28/19/marker.js"></script>