  <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="107px" data-stick-up-clone="false">
        <div class="shell rd-navbar-outer">
          <div class="range range-sm-middle range-sm-justify">
            <div class="cell-lg-preffix-2 cell-sm-12 text-center cell-md-2 cell-md-push-2">
              <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><img src="../static/img/logo.png" alt=""></a></div>
            </div>
            <div class="cell-sm-12 text-md-left cell-lg-3 cell-md-4 cell-md-push-1"><span class="icon fl-bigmug-line-big104 icon-gray-lighter icon-sm"></span><a href="#" class="text-middle text-gray preffix-left-10">Station Road Ahemdabad</a></div>
            <div class="cell-lg-preffix-2 cell-sm-12 text-md-right cell-lg-3 cell-md-push-3 cell-md-4"><span class="icon fl-bigmug-line-nine16 icon-gray-lighter icon-xs"></span><span class="text-middle text-gray preffix-left-10">Week Days: 08:00am–10:00pm</span></div>
            <div class="cell-lg-preffix-2 cell-sm-12 text-md-right cell-lg-3 cell-md-push-3 cell-md-4 cell-login">
              <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                <div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
                {% if user.is_authenticated %}
                <div class="unit-body"><a href="/profile">{{ user.username }}</a></div>
                {% else %}
                <div class="unit-body"><a href="login-register.html">Login/Register</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="rd-navbar-inner">
          <div class="rd-navbar-panel">
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <button data-rd-navbar-toggle=".rd-navbar-outer" class="rd-navbar-collapse-toggle"><span></span></button>
            <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><span>MohanjiCaters</span></a></div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <!--<li><a href="#">Shop</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="shop-cart.html">Shopping Cart</a></li>
                  <li><a href="shop-grid-view.html">Shop Grid View</a></li>
                  <li><a href="shop-list-view.html">Shop List View</a></li>
                  <li><a href="shop-single-products.html">Single Product</a></li>
                </ul>
              </li>&ndash;&gt;-->
              <li><a href="#">Pages</a>
                <ul class="rd-navbar-megamenu">
                  <li>
                    <p>Pages 1</p>
                    <ul>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                      <!--<li><a href="appointment.html">Make an Appointment</a></li>
                      <li><a href="maintenance.html">Maintenance</a></li>
                      <li><a href="our-farmers.html">Our Team</a></li>
                      <li><a href="team-members.html">Team Member Profile</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="single-services.html">Single Service</a></li>
                      <li><a href="careers.html">Careers</a></li>-->
                    </ul>
                  </li>
                  <li>
                    <p>Pages 2</p>
                    <ul>
                     <!-- <li><a href="faq.html">FAQ</a></li>
                      <li><a href="coming-soon.html">Coming Soon</a></li>-->
                      <li><a href="/login">Login Page</a></li>
                      <li><a href="/register">Register Page</a></li>
                      <!--<li><a href="testimonials.html">Clients</a></li>
                      <li><a href="search-results.html">Search results</a></li>
                      <li><a href="site-map.html">Sitemap</a></li>
                      <li><a href="404.html">404 Page</a></li>
                      <li><a href="503.html">503 Page</a></li>-->
                    </ul>
                  </li>
                </ul>
              </li>
              <!--<li><a href="#">blog</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="grid-blog.html">Grid Blog</a></li>
                  <li><a href="classic-blog.html">Classic Blog</a></li>
                  <li><a href="masonry-blog.html">Masonry Blog</a></li>
                  <li><a href="modern-blog.html">Modern Blog</a></li>
                  <li><a href="classic-single-blog.html">Single Blog Post</a></li>
                </ul>
              </li>-->
              <!--<li><a href="#">Gallery</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="gallery.html">Grid Gallery</a></li>
                  <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                  <li><a href="cobles-gallery.html">Cobbles Gallery</a></li>
                  <li><a href="full-width-grid.html">Full Width Gallery</a></li>
                </ul>
              </li>-->
              <li><a href="/contact">Contact Us</a></li>
              <li class="rd-navbar-search">
                <button data-rd-navbar-toggle=".rd-search" class="rd-navbar-search-toggle icon rd-search-form-submit icon-xs fl-crisp-icons-search69 icon-gray"></button>
                <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                  <div class="form-group">
                    <label for="rd-search-form-input" class="form-label">Search...</label>
                    <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                  </div>
                  <div id="rd-search-results-live" class="rd-search-results-live"></div>
                  <button type="submit" class="icon rd-search-form-submit icon-xs fl-crisp-icons-search69 icon-gray"></button>
                </form>
              </li>
              <li class="rd-navbar-cart-wrap"><span class="rd-navbar-cart"><a href="shop-cart.html" class="icon icon-sm icon-gray"><span class="icon icon-gray fl-outicons-shopping-cart13"></span><span class="text-bold">$0.00</span></a></span></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
