<section class="section-50 section-lg-115">
      <div class="shell">
        <h3 class="heading-3 text-center">Popular Categories</h3>
        <div class="range">
          <div data-dots="true" data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="15" data-loop="true" data-margin="30" class="owl-carousel owl-carousel-mod">
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-1">
                <div class="product-categories-content">
                  <h4>Vegetables</h4>
                  <span>14 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-01-362x219.png" alt="" width="362" height="219" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-2">
                <div class="product-categories-content">
                  <h4>Namkeen</h4>
                  <span>5 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-04-371x199.png" alt="" width="371" height="173" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-3">
                <div class="product-categories-content">
                  <h4>Fruits</h4>
                  <span>17 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-03-371x172.png" alt="" width="371" height="172" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-4">
                <div class="product-categories-content">
                  <h4>Milk Products</h4>
                  <span>9 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-04-371x199.png" alt="" width="371" height="199" class="img-responsive"/> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-50 section-lg-115 section-lg-bottom-85">
      <div class="shell">
        <h3 class="heading-3 text-center">Featured Products</h3>
        <div class="responsive-tabs responsive-tabs-custom offset-lg-top-60">
          <ul class="resp-tabs-list text-center">
            <li>Fruits</li>
            <li>Vegetables</li>
            <li>Bread</li>
            <li>Namkeen</li>
          </ul>
          {% block main_product_list %}{% include 'base/list.html' %}{% endblock %}
        </div>
      </div>
    </section>
