<section class="section-50 section-lg-115">
      <div class="shell">
        <h3 class="heading-3 text-center">Popular Categories</h3>
        <div class="range">
          <div data-dots="true" data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="15" data-loop="true" data-margin="30" class="owl-carousel owl-carousel-mod">
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-1">
                <div class="product-categories-content">
                  <h4>Vegetables</h4>
                  <span>14 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-01-362x219.png" alt="" width="362" height="219" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-2">
                <div class="product-categories-content">
                  <h4>Namkeen</h4>
                  <span>5 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-04-371x199.png" alt="" width="371" height="173" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-3">
                <div class="product-categories-content">
                  <h4>Fruits</h4>
                  <span>17 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-03-371x172.png" alt="" width="371" height="172" class="img-responsive"/> </div>
              </div>
            </div>
            <div class="item">
              <div class="product-categories"><a href="shop-list-view.html" class="product-categories-block product-categories-block-variant-4">
                <div class="product-categories-content">
                  <h4>Milk Products</h4>
                  <span>9 products</span> </div>
                </a>
                <div class="product-categories-image"><img src="../static/img/home-04-371x199.png" alt="" width="371" height="199" class="img-responsive"/> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-50 section-lg-115 section-lg-bottom-85">
      <div class="shell">
        <h3 class="heading-3 text-center">Featured Products</h3>
        <div class="responsive-tabs responsive-tabs-custom offset-lg-top-60">
          <ul class="resp-tabs-list text-center">
            <li>Fruits</li>
            <li>Vegetables</li>
            <li>Bread</li>
            <li>Namkeen</li>
          </ul>
          {% block main_product_list %}{% include 'base/list.html' %}{% endblock %}
        </div>
      </div>
    </section>
    <footer class="page-foot">
    <div class="shell">
      <div class="range text-sm-left range-sm-top">
        <div class="cell-lg-4 cell-sm-6 cell-sm-push-1"><a href="index.html"><img src="../static/img/logo.png" alt="" width="172" height="44" class="img-responsive"/></a>
          <address class="contact-info offset-top-25">
          <dl>
            <dt class="text-bold reveal-block">Address:<br>
            </dt>
            <dd class="text-light">Suite 200 El Segundo, <br>
              CA 90245. USA</dd>
          </dl>
          <dl class="offset-top-5">
            <dt class="text-bold">Phone:</dt>
            <dd><a href="callto:#" class="text-light">1-900-81965</a></dd>
          </dl>
          <dl>
            <dt class="text-bold">E-Mail:</dt>
            <dd><a href="" class="text-light"><span class="__cf_email__" data-cfemail="325b5c545d7256575f5d5e5b5c591c5d4055">philip@gmail.com</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></dd>
          </dl>
          </address>
          <ul class="list-inline offset-top-25">
            <li><a href="#" class="icon icon-gray-round icon-round icon-xs-small fa-facebook"></a></li>
            <li><a href="#" class="icon icon-gray-round icon-round icon-xs-small fa-twitter"></a></li>
            <li><a href="#" class="icon icon-gray-round icon-round icon-xs-small fa-google-plus"></a></li>
            <li><a href="#" class="icon icon-gray-round icon-round icon-xs-small fa-linkedin"></a></li>
          </ul>
        </div>
        <div class="cell-lg-4 cell-sm-6 cell-sm-push-2 cell-lg-push-4 offset-top-45 offset-sm-top-0"><span class="h7 text-uppercase text-spacing-60">latest from the blog</span>
          <article class="post-widget"><a href="classic-single-blog.html">
            <div class="unit unit-sm-horizontal unit-align-center unit-xs unit-xs-middle unit-spacing-sm unit-sm-align-left">
              <div class="unit-left"><img src="../static/img/home-15-60x60.jpg" alt="" width="60" height="60" class="img-responsive img-circle"/> </div>
              <div class="unit-body">
                <div class="post-widget-meta"><span class="icon material-design-right244 icon-xxs icon-success"></span>
                  <time datetime="2015" class="text-light">05/14/2015</time>
                </div>
                <div class="post-widget-title">
                  <p>Organics Reduce Health Risks</p>
                </div>
              </div>
            </div>
            </a></article>
          <article class="post-widget"><a href="classic-single-blog.html">
            <div class="unit unit-sm-horizontal unit-align-center unit-xs unit-xs-middle unit-spacing-sm unit-sm-align-left">
              <div class="unit-left"><img src="../static/img/home-16-60x60.jpg" alt="" width="60" height="60" class="img-responsive img-circle"/> </div>
              <div class="unit-body">
                <div class="post-widget-meta"><span class="icon material-design-right244 icon-xxs icon-success"></span>
                  <time datetime="2015" class="text-light">05/14/2015</time>
                </div>
                <div class="post-widget-title">
                  <p>GMOs: Your Right To Know</p>
                </div>
              </div>
            </div>
            </a></article>
          <article class="post-widget"><a href="classic-single-blog.html">
            <div class="unit unit-sm-horizontal unit-align-center unit-xs unit-xs-middle unit-spacing-sm unit-sm-align-left">
              <div class="unit-left"><img src="../static/img/home-17-60x60.jpg" alt="" width="60" height="60" class="img-responsive img-circle"/> </div>
              <div class="unit-body">
                <div class="post-widget-meta"><span class="icon material-design-right244 icon-xxs icon-success"></span>
                  <time datetime="2015" class="text-light">05/14/2015</time>
                </div>
                <div class="post-widget-title">
                  <p>It's Your Personal Choice</p>
                </div>
              </div>
            </div>
            </a></article>
        </div>
        <div class="cell-lg-4 cell-sm-6 cell-sm-push-4 offset-top-45 offset-lg-top-0">
          <h6 class="text-bold">Newsletter</h6>
          <div class="text-subline"></div>
          <div class="offset-top-30 text-left">
            <p>Enter your email address to get the latest news, special events and student activities delivered right to your inbox.</p>
          </div>
          <div class="offset-top-10">
            <form novalidate="novalidate" data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="#" class="rd-mailform form-subscribe">
              <div class="form-group">
                <div class="input-group input-group-sm">
                  <input type="email" id="regula-generated-949383" placeholder="Your e-mail" name="email" data-constraints="@Required @Email" class="form-control form-control-has-validation">
                  <span class="form-validation"></span> <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
                  </span> </div>
              </div>
              <div id="form-subscribe-footer" class="form-output"></div>
            </form>
          </div>
        </div>
      </div>
      <p class="text-center offset-top-25 copyright offset-sm-top-15">© <span id="copyright-year">2017 </span> All Rights Reserved. <a href="privacy.html">Privacy Policy</a> </p>
    </div>
  </footer>
</div>
<div id="form-output-global" class="snackbars"></div>
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
    </div>
  </div>
</div>
{% include 'base/js.html' %}
</body>
</html>