<section id="services" class="services">
                <div class="container text-center">
                    <header>
                        <h2>We provide the following</h2>
                        <h3>Our Specialities</h3>
                    </header>

                    <div class="row">
                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-like"></i>
                            </div>
                            <div class="text">
                                <h4>Clean Environment</h4>
                                <p>Employee hygiene is always the first step in a good sanitation program. Employees must enter a facility with clean hands, sanitized footwear/ boots and in the best facilities with company issued clothing and hair and beard nets. A regular and continuous cleaning and sanitising programme for the facility and for all equipment is critical, and the programme must be monitored and checked for effectiveness.,</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-hat"></i>
                            </div>
                            <div class="text">
                                <h4>Lovely &amp; expert chefs</h4>
                                <p>Our expert chefs who help make MohanjiCaters your source for every day inspiration. With advice and knowledge gained from many years of experience, our award-winning team helps us create the perfect balance of great tasting and nutritious food served up to consistently high standards. They create magic with skill, knowledge, passion, and stirring spoons (among other things). They make goodness so good,</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-plate"></i>
                            </div>
                            <div class="text">
                                <h4>Fresh and tasty food</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>