{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>MohanJi Caters</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
{% block css %}{% include 'base/css.html' %}{% endblock %}
</head>
<body>
    <div class="page text-center text-md-left">
        <header class="page-head">
        {% block navbar %}{% include 'base/navbar.html' %}{% endblock %}
        </header>
        <main class="page-content">
            {% block slider %}{% endblock %}
            {% block dishes %}{% endblock %}
            {% block main_product_list %}{% endblock %}
            {% block contact %}{% endblock %}
            {% block service %}{% endblock %}
            {% block about %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}