<div class="footer">
	<div class="container">
        <div class="clearfix"></div>
			<div class="footer-bottom">
				<h2><a href="index.html">MohanJiCaters<span>The Best Caters</span></a></h2>
				<p class="fo-para">Mohanjicaters have been creating misti magic since 1978. This business was started by Mohanji. He came to Ahemdabad from jodhpur took up a job in a catering in ahemdabad as a karigar (worker). With the passage of time the Mohanjicaters has become a throbbing venture of five generations.</p>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Ahmedabad.</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="icon icon-primary icon-xs-middle fa-phone" aria-hidden="true"></i>+1234 789 123 , +1234 567 123</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:mohanjicaters@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>mohanjicaters@gmail.com</a></p>
					</div>
					<div class="clearfix"></div>

					</div>
			</div>
		<div class="copy-right">
			<p> © MohanJiCaters. All Rights Reserved | Design by  <a href="http://kexplorer.in"> LKY</a></p>
		</div>
	</div>
</div>
</main>


{% include 'base/js.html' %}
</body>
</html>

